﻿@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from preview.colorlib.com/theme/accent/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Oct 2020 02:25:37 GMT -->
<head>
    <title>Cuong Viet Tech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->


        <div class="site-navbar-wrap">

            <div class="site-navbar site-navbar-target js-sticky-header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-4">
                            <h1 class="my-0 site-logo"><a href="#">CuongVietTech</a></h1>
                        </div>
                        <div class="col-6 col-md-8">
                            <nav class="site-navigation text-right" role="navigation">
                                <div class="container">

                                    <div class="d-inline-block d-lg-block ml-md-0 mr-auto py-3">
                                        <a href="#" class="site-menu-toggle js-menu-toggle text-black">
                                            <span class="icon-menu h3"></span> <span class="menu-text"></span>
                                        </a>
                                    </div>

                                    <ul class="site-menu main-menu js-clone-nav d-none d-lg-none">
                                        <li><a href="#home-section" class="nav-link">Home</a></li>
                                        <li><a href="#about-section" class="nav-link">Về chúng tôi</a></li>
                                        <li><a href="#what-we-do-section" class="nav-link">Chuyên môn</a></li>
                                        <li><a href="#contact-section" class="nav-link">Liên hệ</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- END .site-navbar-wrap -->

        <div class="site-blocks-cover" id="home-section">
            <div class="img-wrap">
                <div class="owl-carousel slide-one-item hero-slider">
                    <div class="slide overlay">
                        <img src="~/images/hero_1.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="slide overlay">
                        <img src="~/images/hero_2.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="slide overlay">
                        <img src="~/images/hero_3.jpg" alt="Image" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 align-self-center">
                        <div class="intro">
                            <div class="heading">
                                <h1>Công nghệ Cường Việt</h1>
                            </div>
                            <div class="text">
                                <p class="sub-text mb-5">Chúng tôi là một công ty chuyên gia công phần mềm, website, ứng dụng web, ứng dụng mobile ...</p>
                                @*<p><a href="https://free-template.co/" target="_blank" class="btn btn-primary btn-md">Start a project</a></p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- END .site-blocks-cover -->



        <div class="site-section" id="about-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-5">
                        <img src="~/images/hero_3.jpg" alt="Image" class="img-fluid" class="img-fluid">
                    </div>
                    <div class="col-lg-5 ml-auto section-title">
                        <span class="sub-title mb-2 d-block">Về chúng tôi</span>
                        <h2 class="title text-primary mb-3">Chúng tôi là chuyên gia về phần mềm</h2>
                        <p class="mb-4">Qua một chặng đường xây dựng và phát triển, CuongVietTech đã khẳng định được mình trong ngành công nghệ thông tin. Chúng tôi không ngừng nỗ lực phát triển với sứ mệnh cung cấp những giải pháp công nghệ thông tin, phần mềm, sản phẩm tốt nhất tới khách hàng.</p>


                        <div class="d-flex">
                            <ul class="list-unstyled ul-check success mr-5">
                                <li>Tư vấn và thiết kế giải pháp công nghệ thông tin</li>
                                <li>Xây dựng phần mềm</li>
                                <li>Tư vấn và thiết kế website</li>
                                <li>Ứng dụng mobile</li>
                                <li>SEO</li>
                            </ul>
                        </div>
                        @*<p><a data-fancybox data-ratio="2" href="https://vimeo.com/326176805" class="d-flex align-items-center"><span class="icon-play_circle_outline h4 m-0 mr-2"></span> <span>Watch the video</span></a></p>*@
                    </div>
                </div>
            </div>
        </div> <!-- .END site-section -->

        <div class="site-section bg-light" id="what-we-do-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-lg-6 section-title">
                        <span class="sub-title mb-2 d-block">Chuyên môn</span>
                        <h2 class="title text-primary">Các dự án chúng tôi chuyên làm</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 ml-auto">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                                <div class="service h-100">
                                    <span class="icon-photo_album display-4 text-primary d-block mb-4"></span>
                                    <h3>Web Design</h3>
                                    <p>Thiết kế website giới thiệu công ty, website quảng cáo sản phẩm, dịch vụ. Với công nghệ mới nhất, đáp ứng mọi yêu cầu của khách hàng.</p>
                                    @*<p><a href="#" class="readmore">Learn more</a></p>*@
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                                <div class="service h-100">
                                    <span class="icon-laptop_mac display-4 text-primary d-block mb-4"></span>
                                    <h3>Web Development</h3>
                                    <p>Nâng cấp website hiện có của khách hàng. Đáp ứng những tính năng mới và phù hợp với công nghệ làm website mới nhất.</p>
                                    @*<p><a href="#" class="readmore">Learn more</a></p>*@
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                                <div class="service h-100">
                                    <span class="icon-layers display-4 text-primary d-block mb-4"></span>
                                    <h3>Web Apps</h3>
                                    <p>Thiết kế website bán hàng, website quản lý công việc và các chuyên môn khác... Bảo mật tuyệt đối, chạy được trên mọi nền tảng PC, mobile, tablet.</p>
                                    @*<p><a href="#" class="readmore">Learn more</a></p>*@
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                                <div class="service h-100">
                                    <span class="icon-mobile display-4 text-primary d-block mb-4"></span>
                                    <h3>Mobile Apps</h3>
                                    <p>Thiết kế và tạo ứng dụng trên mobile trên 2 nền tảng chính là IOS và Android.</p>
                                    @*<p><a href="#" class="readmore">Learn more</a></p>*@
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                                <div class="service h-100">
                                    <span class="icon-pencil display-4 text-primary d-block mb-4"></span>
                                    <h3>CopyWriting</h3>
                                    <p>Cung cấp dịch vụ cập nhật bài viết, tin tức mới nhất theo thời gian thực.</p>
                                    @*<p><a href="#" class="readmore">Learn more</a></p>*@
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                                <div class="service h-100">
                                    <span class="icon-search2 display-4 text-primary d-block mb-4"></span>
                                    <h3>Search Engine Optimization</h3>
                                    <p>Cung cấp giải pháp tìm kiếm nội dung, lọc nội dung theo chủ đề nào đó. Đáp ứng thông tin cần thiết cho khách hàng mong muốn.</p>
                                    @*<p><a href="#" class="readmore">Learn more</a></p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- END .site-section -->

    </div>

    <div class="site-section" id="contact-section">
        <div class="container">
            <h2 class="title text-primary" id="contact_us_message" hidden="hidden">Cám ơn bạn đã gửi thông tin. Chúng tôi sẽ ưu tiên trả lời bạn nhanh nhất.</h2>

            <form method="post" data-ajax="true" data-ajax-method="post" asp-action="ContactUs" asp-controller="Home" data-ajax-complete="sendContactSuccess" id="contact_us_form">
                <div class="section-title text-center mb-5">
                    <span class="sub-title mb-2 d-block">Liên hệ với chúng tôi</span>
                    <h2 class="title text-primary">Hãy gửi cho chúng tôi mong muốn của quý khách.</h2>
                </div>
                <div class="row mb-4">
                    <div class="col-12">
                        <input type="text" class="form-control" placeholder="Họ tên" name="full_name" id="full_name">
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12">
                        <input type="text" class="form-control" placeholder="Email" name="email" id="email">
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12">
                        <textarea class="form-control" name="content" id="content" cols="30" rows="10" placeholder="Nội dung"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-md">Gửi thông tin</button>
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- END .site-section -->

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-12 mb-lg-0">
                    <div class="row mb-5">
                        <div class="col-12">
                            <h3 class="footer-heading mb-4">Thông tin công ty</h3>
                            <p>Địa chỉ: 463B/30 Cách mạng tháng 8, phường 13, quận 10</p>
                            <p>Điện thoại: 0983 01 8787</p>
                            <p>Skype: lybaocuong@gmail.com</p>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-3 ml-auto">

                        <div class="row mb-5">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Sơ đồ</h3>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="mb-5">
                            <h3 class="footer-heading mb-2">Subscribe Newsletter</h3>


                            <form method="post" class="form-subscribe">
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control border-white text-white bg-transparent" placeholder="Enter email" aria-label="Enter Email" aria-describedby="button-addon2">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary px-5" type="submit">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>*@

            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="mb-4">
                        <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                    </div>

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved
                    </p>

                </div>

            </div>
        </div>
    </footer>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/stickyfill.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>

    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');

        function sendContactSuccess() {
            $("#contact_us_message").removeAttr("hidden");
            $("#contact_us_form").hide();
            $("#full_name").val("");
            $("#email").val("");
            $("#content").val("");
        }
    </script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

</body>

<!-- Mirrored from preview.colorlib.com/theme/accent/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Oct 2020 02:25:46 GMT -->
</html>